body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

#fontSizeClosures {
  display: flex;
  align-items: center;
}
#fontSizeClosures > * {
  margin-right: 10px;
}

iframe {
  width: 100%;
}
